<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
      <LINK href="./stylesheets/style.css" rel="stylesheet" type="text/css">
        <LINK href="./stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="background">
  <h3 class="title">Choose Friend
  </h3>
  
  
  
  <img class="texxt"src="my-icons-collection/png/002-sms.png" alt="sms">
       
  <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
  <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
    <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
      <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
        <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/001-checked.png" alt="emp"</div>
  </div>
          <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
            <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
              <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
                <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
                  <div class="sss">
  <div style="display:inline-block;float:left;">
    <p>Jan Kowalski</p>
    </div>
    <div style="display:inline-block; float:right;"><img class="boxes" src="my-icons-collection/png/002-check-box-empty.png" alt="emp"</div>
  </div>
 
</div >
</body>
</html>