<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
      <LINK href="./stylesheets/style.css" rel="stylesheet" type="text/css">
        <LINK href="./stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="background">
  <h3 class="title">Choose How To Inform Your Friends!
  </h3>
 <div class="sss"> 
  <h4> Send Message via Text
  </h4>
  <img src="my-icons-collection/png/002-sms.png" alt="sms"/>
       </div>
  
 <div class="sss"> 
  <h4> Send Message via Facebook
  </h4>
  <img src="my-icons-collection/png/003-facebook.png" alt="fac"/>
       </div>
  
 <div class="sss"> 
  <h4> Send Message via Mail
  </h4>
  <img src="my-icons-collection/png/001-letter.png" alt="mail"/>
       </div>
</div >
</body>
</html>