<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
      <LINK href="./stylesheets/style.css" rel="stylesheet" type="text/css">
        <LINK href="./stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="background">
  <img  class="map" src="images/Zrzut%20ekranu%202017-03-28%20o%2000.29.18.png" alt="example_map"/>
  
<img id="locate" src="my-icons-collection/png/002-technology.png" alt="locate"/>
  <img id="send" src="my-icons-collection/png/001-send.png"
       alt="send"/>
</div>
</body>
</html>