<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
      <LINK href="./stylesheets/style.css" rel="stylesheet" type="text/css">
        <LINK href="./stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="background">
  <h2 class="welcome_title">Let Them Know</h2>
  <p class="welcome_p">Tell your friends where you are and what you're up to!
  <br>Let's have fun together!</p>
  
  <img class="welcome_img" id="main_img" src="my-icons-collection/png/001-smartphone.png" alt="phone">
  <img class="welcome_img" id="table" src="my-icons-collection/png/002-turntable.png" alt="table">
  <img class="welcome_img" id="beer" src="my-icons-collection/png/003-beer.png" alt="table">
  
  <img class="welcome_img rest"  src="my-icons-collection/png/004-cake-slice.png" alt="table">
  <img class="welcome_img rest" src="my-icons-collection/png/005-toast.png" alt="table">
  <img class="welcome_img rest" src="my-icons-collection/png/006-dj.png" alt="table">
  <img class="welcome_img rest" src="my-icons-collection/png/007-balloon.png" alt="table">
  <img class="welcome_img rest" src="my-icons-collection/png/008-guitar.png" alt="table">
  </div>

</body>
</html>